[Unit]
Description=UAV MAVLink telemetry reader
After=multi-user.target

[Service]
Type=simple
User=raspberrypiuser
WorkingDirectory=/home/raspberrypiuser

ExecStart=/home/raspberrypiuser/yolo-venv/bin/python /home/raspberrypiuser/predict1.py

TimeoutStopSec=30
Restart=always
RestartSec=3

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
